//colors
$primary-color: #f95732;
$secondary-color: #fff;
$background-color: #2b3236;
$second-background-color: #2c2c2e;
$third-background-color: #f6f6f6;
$fourth-background-color: #ddd;
$text-color: #5d6872;
$second-text-color: #000;
$third-text-color: #e2e6e8;
$link-color: #777;
$second-link-color: #337ab7;
$form-color: #ababab;
$border-color: #394349;
$second-border-color: #3a3a3a;
$third-border-color: #eee;
$error-color: #ff3333;
$disclaimer-color: #ea7900;
//font-sizes
$base: 4px;
