@import "../../../scss/index.scss";
nav {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.nav-logo {
  height: 150px;
  width: 150px;
  .nav-logo-link {
    display: inline-block;
    background: url(../../../../public/images/logo/park-cinema-logo.png)
      no-repeat;
    width: 178px;
    height: 192px;
    background-size: 100%;
  }
}
.main-list {
  margin-top: 17px;
  .navbar-nav {
    flex-direction: row;
    .nav-item {
      .nav-link {
        padding: 10px 18px 10px 5px;
        font-size: 15px;
        line-height: 36px;
        color: $secondary-color;
        background-image: url(../../../../public/images/slash.png);
        background-position: right center;
        background-repeat: no-repeat;
        font-weight: normal;

        &:hover {
          text-decoration: underline;
        }
      }
      &:last-child > a {
        background: none;
      }
    }
  }
}
.submain-list {
  margin-top: 30px !important;
  .language-list {
    display: flex;
    margin-left: -152px;
    margin-top: -9px;

    .language-links {
      display: flex;
      align-items: center;
      li {
        list-style: none;
        a {
          color: white;
          display: block;
          height: 19px;
          margin: 8px;
          font-size: 11px;
          line-height: 25px;
        }
        .language-slash {
          color: white;
          display: block;
          height: 19px;
          margin: 8px 0;
          line-height: 25px;
        }
      }
    }
  }
  .social-list {
    display: flex;
    list-style-type: none;
    margin-top: 6px;
    padding: 0;
    margin-left: 12px;
    a {
      display: block;
      width: 16px;
      height: 19px;
      background-repeat: no-repeat;
      background-position: center;
      margin: 8px;
    }
    .ios-icon {
      background-image: url(../../../../public/images/ios.png);
    }
    .android-icon {
      background-image: url(../../../../public/images/android.png);
    }
  }
}
