@import "../../../../scss/index.scss";
.main-movies {
  background-color: gray;
}
.movies-button {
  display: flex;
}
.filter-button {
  line-height: 42px;
  border: $second-border-color solid 2px;
  display: inline-block;
  color: $text-color;
  font-size: 26px;
  font-weight: normal;
  border-radius: 15px;
  text-align: center;
  margin-right: 5px;
  cursor: pointer;
  margin-bottom: -5px;
  height: 44px;
  width: 31%;
}
.activeMovie {
  border: $error-color solid 2px;
  color: $secondary-color;
}
